.btn {
    padding: 0.3rem 0.5rem;
    border: 1px solid #777;
    background: #777;
    color: #fff;
    cursor: pointer;
    transition: all 0.35s;
}
.btn:hover,
.btn:active {
    /*background: #333;*/
    /*color: #fff;*/
}

.btn:focus {

}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled  {
    background: #ccc;
    border-color: #ccc;
    color: #666;
    cursor: not-allowed;
}