@font-face {
  font-family: 'Poppins';
  src: url("./asset/fonts/Poppins-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url("./asset/fonts/NotoSansKR-Regular.otf") format("truetype");
  unicode-range: U+AC00-D7A3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

.App {
  /*width: 1440px;*/
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

button {
  outline: none;
  border: 0;
}

input, select {
  height: 55px;
  padding: 20px;
  outline: none;
  border: 1px solid #e1e1e1;
}

button, input[type="button"] {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  padding: 2rem;
}

.h1Wrap {
  position: relative;
}

.shippingCount {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.shippingCount span {
  margin-right: 0.5rem;
  color: tomato;
}

.inputContainer span,
.inputContainer label:first-child {
  margin-right: 0.5rem;
}
